@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}


:root{
    --fonte_de_titulo_de_artigo:'Cormorant Garamond', serif;
    --fonte_de_titulo_de_pagina: 'Newsreader', serif;
    --fonte_corpo_do_artigo: 'Raleway', sans-serif;


    --cor_tema_maxok:#610c0c;
    --cor_tema_maxok_massar_por_cima:#6e1717;
    --minimo_largura:200px;
    --cor_de_fundo_padrao: #f5f5f5;
    --cor_sombra: #0000001c;

    --larguta_maxima_janela: 1000px;
    --sombra_padrao:  2px 2px 15px var(--cor_sombra);
}




body::-webkit-scrollbar{
    width: 8px; 
}
body::-webkit-scrollbar-track {
    background: var(--cor_de_fundo_padrao);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--cor_tema_maxok);    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
}











.Pagina_de_navegacao{
    /**background-color: var(--cor_de_fundo_padrao);*/
    background-image: linear-gradient(180deg,  var(--cor_de_fundo_padrao), var(--cor_sombra));
    box-shadow: var(--sombra_padrao);
    min-width: var(--minimo_largura);
}

.Pagina_de_amostra{
    
    background-color: rgb(255, 255, 255);
}
.pagina_de_leitura{
   
    background-image: linear-gradient(180deg,  var(--cor_de_fundo_padrao), var(--cor_sombra));
    box-shadow:  var(--sombra_padrao);
    min-width: var(--minimo_largura);
}


.Titulo_principal_da_pagina{
    font-family: var(--fonte_de_titulo_de_pagina);
    text-align: center;
    font-weight: normal;
    padding: 5px;
    box-shadow:  var(--sombra_padrao);
    
    width: 95%;
    
    background-color: white;
    margin: auto;
    font-size: 3em;
    color: var(--cor_tema_maxok_massar_por_cima);
    border-radius:  0px 0px 5px 5px;
    user-select: none;
    
}



.barra_principal:hover .menu_de_navegacao{
    display: block;
   
}





.Titulo_de_artigo{
    font-family: var(--fonte_de_titulo_de_artigo);
    font-weight: normal;
}


.menu_de_navegacao{

    display: none;
    margin: auto;
    color: white;
    text-align: center;
    
}
.menu_de_navegacao a {
    
    display: inline-flex;
    flex-wrap: wrap;
    color: var(--cor_tema_maxok);
    text-decoration: none;
    margin: 5px 5px;
 
    
}
.menu_de_navegacao div a:hover {
    color: white;
    background-color: var(--cor_tema_maxok_massar_por_cima);
}













#corpo_principal_tela_inicial{
    background-color: white;
    width: 90%;
    
    display: block;
    margin: 15px auto;
    border-radius: 10px;
    padding: 10px;
    max-width: var(--larguta_maxima_janela);
    min-width: var(--minimo_largura);
    
}

.quadro_de_artgos{
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -00%);

}






.artigo_primario{
    /*width: 49%;*/
    min-width: var(--minimo_largura);
   
    
    display: inline-block;
    margin: 10px  auto;
    
}

.artigo_secundario{
    /*width: 39%;*/
    min-width:var(--minimo_largura);
   
    
    display: inline-block;
    margin: 10px  auto;
}
.artigo_terceario{
    /*width: 29%;*/
    min-width: var(--minimo_largura);
    
    
    display: inline-block;
    margin: 10px  auto;
}

.moldura_do_artigo{
  
    border-radius: 5px;
    padding: 5px;
   margin: auto;
    width: 90%;
    height: 90%;
    box-shadow:  var(--sombra_padrao);
    
}


.titulo_de_artigo{
    font-family: var(--fonte_de_titulo_de_artigo);
    font-weight: normal;
    padding: 0px 0px 5px 0px;
}
.Paragrafo_de_artigo{
    font-family: var(--fonte_corpo_do_artigo);
    font-weight: normal;
    text-indent: 1em;
    text-align: justify;
}
.titulo_de_artigo_dentro_do_HTML{
    font-family: var(--fonte_de_titulo_de_artigo);
    font-weight: bold;
   
    text-align: center;
    padding: 10px;
}

.Paragrafo_de_artigo_dentro_do_HTML{
    font-family: var(--fonte_corpo_do_artigo);
    font-weight: normal;
    text-indent: 1em; 
    text-align: justify;
    color: rgba(0, 0, 0, 0.678);
    line-height: 2em;
}

.titulo_de_artigo_dentro_do_HTML_apresentacao{
    font-family: var(--fonte_de_titulo_de_artigo);
    font-weight: bold;
   
    text-align: center;
    padding: 10px;
}
.Paragrafo_de_artigo_dentro_do_HTML_apresentacao{
    font-family: var(--fonte_corpo_do_artigo);
    font-weight: normal;
    text-indent: 2em; 
   
    color: rgba(0, 0, 0, 0.83);
   
    font-size: 1em;
}


.Filtro_de_capa_De_artigo{
    width: 100%;
    height: 100%;
   

   
}

.caixa_de_exibicao_de_html{
    width: 100%;
  -ms-touch-select: none;
    height: 100%;
}









.div_saber_mais{
    width: 40%;
   text-align: right;
   display: inline-block;
   padding: 5px;
}
.saber_mais{
    color: var(--cor_tema_maxok);
    text-decoration: none;
}  
.div_saber_mais_livro{
    width: 40%;
   text-align: left;
   display: inline-block;
}


.saber_mais_livro{
    color:  var(--cor_tema_maxok);
    text-decoration: none;
}   





footer{
    padding: 20px 0px 0px 0px;
    text-align: center;
    color: rgba(0, 0, 0, 0.623);
}
footer a {
    text-decoration: none;
    color: var(--cor_tema_maxok_massar_por_cima);
}





.Mecu_avancar_voltar_voltar, .Mecu_avancar_voltar_lista, .menu_de_navegacao_de_capitulos{
    margin: auto;
    color: white;
    text-align: center;

}


.menu_de_navegacao_de_capitulos a {
    
    display: inline-flex;
    flex-wrap: wrap;
    color: var(--cor_tema_maxok);
    text-decoration: none;
    margin: 5px 5px;
 
    
}
.menu_de_navegacao_de_capitulos div a:hover {
    color: white;
    background-color: var(--cor_tema_maxok_massar_por_cima);
}
